# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore environment files
**/.env
**/config/.env

# Ignore logs
*.log
logs
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build outputs
job-frontend/build/
job-backend/build/

# Coverage and test
coverage/
*.test.js


# Temporary or backup files
*.swp
*.bak
*.tmp

# Ignore any .tgz packages
*.tgz
.env
job-backend/config/.env
job-backend/config/.env
